.max-w-width {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-bottom: 40px;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.section {
  position: relative;
  padding-top: 120px;
  padding-right: 4%;
  padding-bottom: 120px;
  padding-left: 4%;
  background-color: #f1f1f1;
}
