@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-black;
  }

  h2 {
    @apply text-7xl sm:text-8xl lg:text-9xl;
  }

  h6 {
    @apply text-xs;
  }

  p {
  }

  p.small {
  }

  p.large {
  }

  a {
  }


}

@layer components {
  .btn {
    @apply text-dimGray py-4 px-6 rounded-md border-2 bg-gainsboro border-gainsboro hover:bg-slateBlue hover:border-slateBlue hover:text-white hover:duration-[0.3s] hover:ease-in-out;
  }
}
