/* header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 80px;
	padding: 0 2rem;
}


header .nav-btn {
	cursor: pointer;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
    font-weight: 600;
    font-size: x-large;
    
    
    
} */

@media only screen and (max-width: 768px) {

	header .responsive_nav {
		transform: none;
	}
}